server {

#block all chrome-based browsers
  if ($http_sec_ch_ua ~* ".+") {
    return 444;
  }

#whitelist firefox
  if ($http_user_agent !~* "(Firefox|FxiOS)") {
    return 444;
  }

#blacklist badbot
  if ($http_user_agent ~* "bot|crawl|scan|spider|slurp|scrap|opr|opios|browser") {
    return 444;
  }

#check hostname
  if ($host !~* "(^|\.)(dennyhalim\.com|matikemana\.com)$") {
    return 444;
  }


error_page 400 = @block;
location @block {
    return 444;
}

}
